*::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

:root{
    --cell-size:75px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gameContainer{
    text-align: center;
}

.cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: fit-content;
    box-shadow: 0 0 0 2px black;
    margin: auto;
}

.cells{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid;
    font-size:50px;
    line-height: var(--cell-size);
}