*::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: #424242;
}

.gameContainer{
    text-align: center;
}

.cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: fit-content;
    box-shadow: 0 0 0 2px ;
    margin: auto;
}

.cells{
    width: 75px;
    height: 75px;
    border: 2px solid #303030;
    font-size:50px;
    line-height: 75px;
}
.resetButton{
    background-color: black;
    color:#303030;
    border: 1px solid #424242;
    padding: 0.3em;
    border-radius: 0.5em;
}

@media (max-width: 420px){
    .cells{
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .title{
        font-size: 1rem;
    }
    
    .resetButton{
        padding: 0.1em;
        border-radius: 0.1em;
        font-size: 0.8rem;
    }
}